body 
{
    width: 100vw;
    margin: 0;
    padding-top: 5vw;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    font-family: sans-serif;
}

main 
{
    width: 90vw;
    max-width: 1000px;
}

img.cover 
{
    width: 100%;
}

div.code 
{
    background-color: black;
    color: white;
    padding: 0.3rem 1.5rem;
    border-radius: 0.25rem;
}

pre 
{
    overflow-x: scroll;
}